/* Global styles */

body {
	font-family: "Snowburst One", system-ui;
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
}

*,
*::after,
&::before {
	box-sizing: border-box;
}

/* Variables */

:root {
	--primary-bg-color: #76564b;
	--primary-text-color: #baa999;
	--secondary-text-color: ##6ba3cf;
	--danger-color: #e11311;
}
